.icon-container{
    width: 15vh;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 52px
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}